.card img{
    width: 50px;
    height: 50px;
    text-align: right;
}

.card-title{
    display: flex;
    justify-content: space-between;
}

.card-title h6 {
    display: inline;
}

.card{
    margin-bottom: 1rem;
}

.card:hover{
    box-shadow: 6px 6px 2px 1px #bbe1fa;
    transition: ease-in-out 0.25s;
}