.Index{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Index-search{
    margin: 2em;
    width: 75vw
}

.Index-CardList{
    width: 75%;
    flex-flow: row wrap;
    display: flex;
    justify-content: space-between
}
